<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div>
      <%= image_tag "https://edgy.app/wp-content/uploads/2018/06/WASP-feature-image-970x970.jpg" %>
      <p class="Logo">ExoWonder</p>
    </div>
    <% end %>
</div>
