<div class="banner">

  <script src="typed.js"></script>

  <div class="container dynamic-box">
    <div class="text-home">
      <div class="header">
        <h1 class="prefix">Welcome <span id="typed"></span></h1>
      </div>
      <div class="tagline">
        <h2>The page for all space-related news.</h2>
      </div>
    </div>
  </div>
</div>

<div class="container card-box">
  <div class="row inline">
    <div class="col-lg-6 col-sm-12">
      <h3>Most recent launches</h3>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>TSJ-6</h2>
          <h2>4th Feb 2021</h2>
          <p>The TSJ-6 Satellite was launched from Xichang Space Centre, China. According to CASC, the spacecraft is a communication technology test satellite which will be mainly used for satellite communications and radio and tv.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <h3>Upcoming launches</h3>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Cygnus NG-15</h2>
          <h2>20th Feb 2021</h2>
          <p>The Cygnus NG-15 will be launched from Pad 0A, Wallops Island, Virginia. This launch will be used to send supplies up to the international space station and the astronauts living onboard.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container card-box-two">
  <div class="row inline">
    <div class="col-lg-6 col-sm-12">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Starlink</h2>
          <h2>4th Feb 2021</h2>
          <p>Starlink is a SpaceX satellite internet constellation being set in place to provide faster internet and broadband. Starlink will work by sending thousands of small satellites working in combination with ground transceivers.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Amazônia 1</h2>
          <h2>Late Feb 2021</h2>
          <p>The Amazônia is the first entirely Brazilian made, earth observation satellite. Although being a Brazilian satellite it will be launched from the Satish Dhawan Space Center in India.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container card-box-two">
  <div class="row inline">
    <div class="col-lg-6 col-sm-12">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Cosmos 2549</h2>
          <h2>2nd Feb 2021</h2>
          <p>The Cosmos 2549 was launched from the Plesetsk missile and space complex.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Ariane 5 ECA</h2>
          <h2>March 4th 2021</h2>
          <p>This Star One D2 & Eutelsat Quantum will be launched from ELA-3 in French Guiana. Both satellites will primarily be used for communications in less fortunate regions such as Africa, the Middle East and South America.</p>
        </div>
      </div>
    </div>
  </div>
</div>
